<!doctype html>

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Título da Categoria</title>
</head>

<body>

<header>
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<a class="navbar-brand" href="/">Home</a>
		<button
			class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
			aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/categoria/carros">Carros</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/categoria/motos">Motos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/carrinho">Meu Carrinho</a>
				</li>
			</ul>
			<form method="post" action="/busca" class="form-inline mt-2 mt-md-0">
				<input name="buscado" class="form-control mr-sm-2" type="text" placeholder="Buscar produto" aria-label="Buscar">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>
</header>

	<br />
	<br />
	<br />
	<br />
        
<div class="container">
    
<h2>Mostrando resultado para {{ buscado }}</h2>

Lista de produtos.... <br />

{#
<pre>
{{ dump() }}
</pre>
#}

{% for erro in erros %}
{{ erro }} <br />
{% endfor %}

{{ encontrado[0] }} <br />

{% if encontrado.1 is defined %}
    
    <p>
    {% for produto in encontrado[1:] %}

    <h3>{{ produto.nome }}</h3>
    <img src="/images/{{ produto.imagem }}" width="300">
    <br />
    {{ produto.descricao }}
    <br />
    <br />

    R$ {{ produto.preco }}
    <br />
    <a href="/produto/{{ produto.id }}">Ver Detalhes</a>

    {% endfor %}
    </p>
    
{% endif %}

</div>

</body>

</html>