<!doctype html>

<html>

<head>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Carrinho de Compras</title>

</head>

<body>

<header>
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<a class="navbar-brand" href="/">Home</a>
		<button
			class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
			aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/categoria/carros">Carros</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/categoria/motos">Motos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/carrinho">Meu Carrinho</a>
				</li>
			</ul>
			<form method="post" action="/busca" class="form-inline mt-2 mt-md-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Buscar produto" aria-label="Buscar">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>
</header>

	<br />
	<br />
	<br />
	<br />

<div class="container">

<pre>
{{ dump() }}
</pre>

<h2>Carrinho de Compras</h2>

<table border="1" width="100%">
	<thead>
	<tr>
		<th>Imagem</th>
		<th>Nome do Produto</th>
		<th>Quantidade</th>
		<th>Preço</th>
		<th>Total</th>		
	</tr>
	<thead>
	<tbody>
	{% for item in carrinho %}
	<tr>
		<td><img src="/images/{{ item.produto.imagem }}" width="50"></td>
		<td>{{ item.produto.nome }}</td>
                
		<td>
                <form action="/loja/carrinho/{{ item.produto.id }}/alterar" method="post">
                <input type="text" name="quantidade" value="{{ item.quantidade }}">
                <input type="submit" value="Alterar">
                </form>
		</td>
                
		<td>R$ {{ item.produto.preco }}</td>
		<td>R$ {{ item.total }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>

O total da sua compra é: R$ {{ total }}

<br /><br />
<a href="/loja/finalizar">
<input type="button" value="Finalizar Pedido" />
</a>

</div>

</body>

</html>
