<!DOCTYPE html>

<html>

<head>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Tela de conclusão: sucesso!</title>
</head>

<body>

<header>
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<a class="navbar-brand" href="/">Home</a>
		<button
			class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
			aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/categoria/carros">Carros</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/categoria/motos">Motos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/carrinho">Meu Carrinho</a>
				</li>
			</ul>
			<form method="post" action="/busca" class="form-inline mt-2 mt-md-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Buscar produto" aria-label="Buscar">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>
</header>

	<br />
	<br />
	<br />
	<br />

<div class="container">

<h3>Parabéns {{ cliente.nome}}!</h3>

<br />
Você acabou de comprar:
<br />
{% for item in carrinho %}
<b>{{ item.produto.nome }}</b> ({{ item.quantidade }}) por R$ {{ item.produto.preco}} - Total R$ {{ item.total }}
<br />
{% endfor %}
Total: {{ total }}

<br /><br />
Em breve, enviaremos um e-mail para {{ cliente.email }} com os detalhes da entrega!

</div>

</html>
